node_modules/
.env
backend/.env.example
/.agents
skills-lock.json
/backend/public/assets
backend/package-lock.json
frontend/package-lock.json
package-lock.json
backend/config/db.js
/.agents
skills-lock.json
backend/config/db.js
*.docx
